<!--{% load static %}--->
<!DOCTYPE html>
<html>
  <head>
    <title>Bus Stop Thoughts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="functions.js"></script>
    <!--<link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="styl.css">
  </head>
  <body>
    <div id="header" class="nav">
      <button class= "new tab">New</button
      ><button class= "best tab">Best</button
        ><textarea rows="2" class= "txt tab asd">Bus Stop ID: 1234</textarea>
    </div>

    <!--HERE COME THE POSTS-->
    <div id="what">
      <div id="middle" class="container-full table-responsive">


    <!--  <div class="post" id="postID">
                  <textarea readonly cols="45" class="txt message">Wedddddddddddddddddddddddddddddddddddddddddddddddme to Bus Stop lul Thoughts</textarea
                    ><button class= "down vote "></button
                    ><textarea readonly rows="1" class="txt number">10</textarea
                    ><button class= "up vote "></button>
      </div>

        <div class="post" id="postID">
          <textarea readonly cols="45" class="txt message">Wedddddddddddddddddddddddddddddddddddddddddddddddme to Bus Stop lul Thoughts</textarea
            ><button class= "down vote "></button
            ><textarea readonly rows="1" class="txt number">10</textarea
            ><button class= "up vote "></button>
        </div>

        <div class="post" id="postID">
          <textarea readonly cols="45" class="txt message">Wedddddddddddddddddddddddddddddddddddddddddddddddme to Bus Stop lul Thoughts</textarea
            ><button class= "down vote "></button
            ><textarea readonly rows="1" class="txt number">10</textarea
            ><button class= "up vote "></button>
        </div>

        <div class="post" id="postID">
          <textarea readonly cols="45" class="txt message">Wedddddddddddddddddddddddddddddddddddddddddddddddme to Bus Stop lul Thoughts</textarea
            ><button class= "down vote "></button
            ><textarea readonly rows="1" class="txt number">10</textarea
            ><button class= "up vote "></button>
        </div>

        <div class="post" id="postID">
          <textarea readonly cols="45" class="txt message">Wedddddddddddddddddddddddddddddddddddddddddddddddme to Bus Stop lul Thoughts</textarea
            ><button class= "down vote "></button
            ><textarea readonly rows="1" class="txt number">10</textarea
            ><button class= "up vote "></button>
        </div>

        <div class="post" id="postID">
          <textarea readonly cols="45" class="txt message">Wedddddddddddddddddddddddddddddddddddddddddddddddme to Bus Stop lul Thoughts</textarea
            ><button class= "down vote "></button
            ><textarea readonly rows="1" class="txt number">10</textarea
            ><button class= "up vote "></button>
        </div>

        <div class="post" id="postID">
          <textarea readonly cols="45" class="txt message">Wedddddddddddddddddddddddddddddddddddddddddddddddme to Bus Stop lul Thoughts</textarea
            ><button class= "down vote "></button
            ><textarea readonly rows="1" class="txt number">10</textarea
            ><button class= "up vote "></button>
        </div>

        <div class="post" id="postID">
          <textarea readonly cols="45" class="txt message">Wedddddddddddddddddddddddddddddddddddddddddddddddme to Bus Stop lul Thoughts</textarea
            ><button class= "down vote "></button
            ><textarea readonly rows="1" class="txt number">10</textarea
            ><button class= "up vote "></button>
        </div>
      -->


      </div>
    </div>



  </body<
</html>
